/* ============================================================
  STYLE 4
============================================================ */
body .container > #theForm .theForm .style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 0px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;

}
body .container > #theForm .theForm .style-4 input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 0px #969696;
}

body .container > #theForm .theForm .form-group{
    margin: 0;
    margin-top:15px;
}


label{
    font-size:18px;
    font-weight: bold;
}

.row.theForm .form-group > label{
    width:100%;
    background: #fff;
    margin-left:0px;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    
}

.dresspot:active{
    animation: pulse 0.5s !important;
}


















.btn-group,
.btn-group-vertical {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 2;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-toolbar .input-group {
  width: auto;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn + .dropdown-toggle-split::after {
  margin-left: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 1.125rem;
  padding-left: 1.125rem;
}

.btn-group-vertical {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group-vertical .btn,
.btn-group-vertical .btn-group {
  width: 100%;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}




.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
  border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn > .btn {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.input-group-btn > .btn + .btn {
  margin-left: -1px;
}

.input-group-btn > .btn:focus, .input-group-btn > .btn:active, .input-group-btn > .btn:hover {
  z-index: 3;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
  margin-right: -1px;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.input-group-btn:not(:first-child) > .btn:focus, .input-group-btn:not(:first-child) > .btn:active, .input-group-btn:not(:first-child) > .btn:hover,
.input-group-btn:not(:first-child) > .btn-group:focus,
.input-group-btn:not(:first-child) > .btn-group:active,
.input-group-btn:not(:first-child) > .btn-group:hover {
  z-index: 3;
}

#etc .row.theForm .gender label.bigSelect{
    background:transparent;
    color:#121212;
    border-width: 2px 2px 2px 2px;
    padding: 20px;
    border-radius:15px;
    border-color: #127ba3;
    box-shadow: 0 0 0;
}
#etc .row.theForm .gender label.bigSelect:hover{
    margin-top:0px;
}


#etc .row.theForm .gender label.bigSelect.active{
    background:#333;
    color:#fff;
}
#etc .row.theForm .gender label.bigSelect:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#etc .row.theForm .type label.bigSelect, #etc .row.theForm .tags label.bigSelect{
    background:transparent;
    color:#121212;
    border-width: 2px 2px 2px 2px;
    padding: 10px 20px;
    border-radius:15px !important;
    border-color: #127ba3;
    box-shadow: 0 0 0;
    display: inline-block;
    position:relative !important;
    width:auto;
    margin: 5px;
}

#etc .form-group > label{
    text-align: center;
    width:100%;
    display: inline-block;
    background: transparent;
}

#etc .row.theForm .type label.bigSelect > input, #etc .row.theForm .tags label.bigSelect > input{
 display: none;
}


#etc .row.theForm .type label.bigSelect.active, #etc .row.theForm .tags label.bigSelect.active{
    background:#333;
    color:#fff;
}

#etc #tagSpace{
    text-align: center;
}












.row.theForm h5{
    line-height: 16px;
    padding: 0xp;
    margin:5px 0px;
    display: inline;
}

.row.theForm .type label.bigSelect, .row.theForm .tags label.bigSelect{
    background:transparent;
    color:#1fabe0;
    border:0px;
    box-shadow: 0 0 0;
    display: inline;
    position:relative !important;
    width:auto;
    margin: 5px;
    line-height: 16px;
    padding: 0px;
}

#myModal3.modal .row.theForm .type label.bigSelect,#myModal3.modal  .row.theForm .tags label.bigSelect{
    background:transparent;
    color:#127ba3;
    border:0px;
    box-shadow: 0 0 0;
    display: inline;
    position:relative !important;
    width:auto;
    margin: 5px;
    line-height: 16px;
    padding: 0px;
}

.row.theForm .type{
    display: inline;
}

.row.theForm .tags{
    display: inline;
}

.row.theForm label{
    display: inline;
}

.row.theForm div[class^="col-"]{
    display: inline;
    vertical-align: middle;
}
.row.wardroberow div.wardrobeChild {
    padding-left:2px;
    padding-right: 2px;
}

.colorSpace {
    display:inline;
    vertical-align: middle;
}

.colorDot {
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
    background-color:firebrick;
    display: inline-block;
    vertical-align: middle;
    margin-top:0px;
}
.colorDot:first-child{
    margin-left:0px;
    width:25px;
    height:25px;
}

.modal-body .row.theForm {
    margin:0px;
}

.modal{
    top:0;
}

.colorSpace{
    
    height:25px;
    line-height: 25px;
}

.row.theForm .col-xs-6{
    padding:0px 15px;
    margin:0px;
}

.dresspot {
   
    width:90px;
    height:90px;
    margin: 0px auto;
    background:#eaeaea;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 300px 100px;
    position: relative;
}

.dresspot.smallpot {
    width:80px;
    height:80px;
}

.header {
    background: #fcfcfc;
    border-bottom: 1px solid #E8E7EC;
    position: absolute;
    width:100%;
    top:0px;
    left:0px;
    z-index: 999;
}

#etc .row.theForm.colors .colors #colorSpace .colorSelect {
    padding:3px;
    background-color: transparent;
    border-radius: 50%;
    height:46px;
    width:46px;
    max-height: none;
    max-width: none;
    line-height: 40px;
    display: inline-block;
    margin:5px;
}
#etc .row.theForm.colors .colors #colorSpace .colorSelect > input {
    display: none;
}

#etc .row.theForm.colors .colors #colorSpace #showRestColorsTemplate {
    padding:3px;
    background: #e45324; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e45324 0%, #c11d78 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e45324 0%,#c11d78 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e45324 0%,#c11d78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45324', endColorstr='#c11d78',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50%;
    height:46px;
    width:46px;
    max-height: none;
    max-width: none;
    line-height: 46px;
    display: inline-block;
    margin:5px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}


#etc .row.theForm.colors .colors #colorSpace .colorSelect.active {
    background: #e45324; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e45324 0%, #c11d78 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e45324 0%,#c11d78 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e45324 0%,#c11d78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45324', endColorstr='#c11d78',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#etc .row.theForm.colors .colors #colorSpace .colorSelect .colorDot{
    width:40px;
    height:40px;
    margin:0px;
    display: block;
}

#etc #colorSpace {
    text-align: center;
}
#etc #colorSpace label {
    text-align: center;
    margin: 0px auto;
}


.containter .row.theForm{
    margin: 0xp;
}
.row.theForm{
    margin: 0xp;
}
.row.homerow{
    margin: 0xp;
}

#etc .row.theForm.colors .form-group.colors #colorSpace {
    	

}

#etc .row.theForm .form-group.colors {
   
}

#colorSpaceContainer {
     width:100%;
    height: 60px;
    overflow: hidden;
}

#showRestColorsTemplate .toggleColors {
    text-align: center;
    top:2px;
    left:1px;
    margin:0px auto;
}

#colorSpace.rest {
    display:none;
}

.arrowSpace {
    width:40px;
    height:40px;
    background: #fcfcfc;
    color: #e45324;
    border-radius: 50%;
    text-align: center;
    margin:0 auto;
    
}

#umerasCustom {
    padding-top:55px;
}

.container.tab-content .row{
    margin:0px !important;
}

#splash.row {
    margin-top:100px !important;
}

.tipIcon {
    position: absolute;
    right:0px;
    top:0px;
    width:25px;
    height:25px;
    background:#121212;
    border-radius: 100%;
    border:2px solid #fff;
    box-sizing: content-box;
}

#etContainer {
    position:relative;
    width:100%;
    height:100%;
}

#wardrobe {
    
}

.wardrobeTabs {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: #fcfcfc;
    border-bottom: 1px solid #E8E7EC;
    z-index: 9999;
}

#wardrobeContainer {
    position: relative;
}

#clotheSpace {
    height:500px;
    overflow-y: scroll;
    
}


.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 15px;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  color: #fff;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.modal-content h4, .modal-content h5{
    color: #fff;
}

.modal-footer{
    position: absolute;
    width: 100%;
    bottom:0px;
    vertical-align: bottom;
}

.modal-body{
    background:rgba(0,0,0,0.7);
    width:100%;
    min-height:100%;
    height:100%;
    margin:auto 0;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    position: absolute !important;
    vertical-align: middle;
}


.modal-bodyContent{
    margin-top:50%;
}

.modal .modal-bodyContent .row{
    margin:15px auto ;
}
.onboarding {
    position:absolute;
    z-index: 999999;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    width:100%;
    height:100vh;
    overflow: hidden;
}
.prez{
    width:100%;
    height:100%;
    padding:20px;
    text-align: center;
    
}
.prez:before {
  display: block;
  text-align: center;
  line-height: 100vh;
}

.prez1 {
    background: #fff;
}
.prez2 {
    background: #fff; /* Old browsers */
    

}
.prez3 {
    background: #fff;
}

.spaced {
  letter-spacing: 4px;  
}
.spaced2 {
  letter-spacing: 2px;  
}
.onboarding h4{
    text-transform: none;
}

.inDot {
    padding:5px;
    background:#121212;
    color:#fff;
    border-radius: 100%;
    width:20px;
    height:20px;
    line-height: 20px;
}

.prezContainer {
    position: absolute;
    width:calc(100% - 30px);
    top:50%;
    left:15px;
    transform: translateY(calc(-50% - 50px));
}

.onboarding .skipButton {
    position:absolute;
    left:0;
    bottom:0;
    height:50px;
    width:100%;
    text-align: center;
    background: transparent;
    color: #e45324;
    border:0px;
    z-index:9999999;
    line-height: 50px;
    text-transform: none;
    font-size: 18px;
}

.onboarding h5 {
    text-transform: none;
    font-weight: 400;
    line-height: 20px;
}

.onboarding h3 {
   font-size:22px;
}

.hideV {
    visibility: hidden;
}
