
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

::-webkit-scrollbar { 
    display: none !important; 
}
::-moz-scrollbar { 
    display: none !important; 
}
::-o-scrollbar { 
    display: none !important; 
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-scrollbar: none;
    
    -webkit-overflow-scrolling: touch;
    
    background-color:#fff;
    
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
    overflow: hidden;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.waiting {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* plus style */





.homerow {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.homerow:not(.main){
    padding:0px;
    margin-top: -25px;
    margin-bottom: -25px;
}









.loadme-mask {
  background-color: #333;
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 9;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 10px;
  opacity: 0.92;
    text-align: center;
    vertical-align: bottom;
    line-height: 1;
    padding-top: 100px;
    font-size: 11px;
    word-wrap: break-word;
    overflow: hidden;
}

.loadme-mask.loadtext{
    height:150px;
    color:#fff;
}
.loadme-circular,
.loadme-circular:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loadme-circular {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  z-index: 9999;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: loadme-circular-animate 1.1s infinite linear;
          animation: loadme-circular-animate 1.1s infinite linear;
}
@-webkit-keyframes loadme-circular-animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loadme-circular-animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -150px 0
    }
    100%{
        background-position: 150px 0
    }
}

.wardrobe_item {
    width:100%;
    height:0;
    padding-bottom: 100%;
    background:#eaeaea;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 300px 100px;
}



#dulap {
    height:100%;
    margin-top:45px;
}

div#dulap div.row.wardroberow {
    padding-top: 2px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 0px;
    margin-right:0px;
}

.modal-body h4, .modal-body h5 {
    text-transform: capitalize;
    display: inline;
    line-height: 16px;
}


.modal-backdrop.in{
    opacity:0.4 !important;
}


.loadme-backdrop {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.row.theForm .icons * {
    line-height: 30px;
    font-size: 18px;
    margin-left:15px;
}



header.header .row.theForm{
    margin-left:0px;
    margin-right:0px;
}
#splashScreen {
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background: #ddd url(../res/screen/ios/Default-736h.png) 100% center/cover;
    z-index: 999999999999999999;
}

#freeze {
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background: rgba(255,255,255, 0.7);
    z-index: 9999999;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
