	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 15px;
    line-height: 25px;
    margin-left:1px;
    text-align: center;
font-style: normal;
}

.flaticon-bag-with-lock:before { content: "\f100"; }
.flaticon-belt:before { content: "\f101"; }
.flaticon-blouse:before { content: "\f102"; }
.flaticon-blouse-1:before { content: "\f103"; }
.flaticon-blouse-2:before { content: "\f104"; }
.flaticon-blouse-3:before { content: "\f105"; }
.flaticon-blouse-with-buttons:before { content: "\f106"; }
.flaticon-bodysuit:before { content: "\f107"; }
.flaticon-boot:before { content: "\f108"; }
.flaticon-boot-1:before { content: "\f109"; }
.flaticon-boots:before { content: "\f10a"; }
.flaticon-boots-1:before { content: "\f10b"; }
.flaticon-broad-brimmed-hat:before { content: "\f10c"; }
.flaticon-business-suit:before { content: "\f10d"; }
.flaticon-business-suit-1:before { content: "\f10e"; }
.flaticon-cap:before { content: "\f10f"; }
.flaticon-casual-t-shirt:before { content: "\f110"; }
.flaticon-classic-cufflinks:before { content: "\f111"; }
.flaticon-close-fitting-dress:before { content: "\f112"; }
.flaticon-cute-dress:before { content: "\f113"; }
.flaticon-dress-with-pockets:before { content: "\f114"; }
.flaticon-elegant-dress:before { content: "\f115"; }
.flaticon-fashion-hight-heels:before { content: "\f116"; }
.flaticon-female-linguerie:before { content: "\f117"; }
.flaticon-femenine-lingerie:before { content: "\f118"; }
.flaticon-high-heel-boots:before { content: "\f119"; }
.flaticon-high-heel-boots-1:before { content: "\f11a"; }
.flaticon-hight-heel-sandals:before { content: "\f11b"; }
.flaticon-hight-heels-shoes:before { content: "\f11c"; }
.flaticon-hoddie:before { content: "\f11d"; }
.flaticon-hoddie-1:before { content: "\f11e"; }
.flaticon-hoddie-2:before { content: "\f11f"; }
.flaticon-hoddie-3:before { content: "\f120"; }
.flaticon-hoddie-4:before { content: "\f121"; }
.flaticon-hoddie-5:before { content: "\f122"; }
.flaticon-hoddie-6:before { content: "\f123"; }
.flaticon-hoddie-7:before { content: "\f124"; }
.flaticon-hoddie-8:before { content: "\f125"; }
.flaticon-jacket:before { content: "\f126"; }
.flaticon-jacket-1:before { content: "\f127"; }
.flaticon-knickers:before { content: "\f128"; }
.flaticon-knitted-cap:before { content: "\f129"; }
.flaticon-knitted-mittens:before { content: "\f12a"; }
.flaticon-lingerie-clothes:before { content: "\f12b"; }
.flaticon-men-shoe:before { content: "\f12c"; }
.flaticon-neckline-dress:before { content: "\f12d"; }
.flaticon-pair-of-gloves:before { content: "\f12e"; }
.flaticon-pair-of-socks:before { content: "\f12f"; }
.flaticon-panties:before { content: "\f130"; }
.flaticon-pants:before { content: "\f131"; }
.flaticon-pants-1:before { content: "\f132"; }
.flaticon-pants-2:before { content: "\f133"; }
.flaticon-pijamas:before { content: "\f134"; }
.flaticon-polo-shirt:before { content: "\f135"; }
.flaticon-pretty-dress:before { content: "\f136"; }
.flaticon-scarf:before { content: "\f137"; }
.flaticon-scarf-1:before { content: "\f138"; }
.flaticon-short-sleeve-blouse:before { content: "\f139"; }
.flaticon-short-sleeve-drees:before { content: "\f13a"; }
.flaticon-shorts:before { content: "\f13b"; }
.flaticon-shorts-1:before { content: "\f13c"; }
.flaticon-skirt:before { content: "\f13d"; }
.flaticon-skirt-1:before { content: "\f13e"; }
.flaticon-skirt-2:before { content: "\f13f"; }
.flaticon-skirt-3:before { content: "\f140"; }
.flaticon-sleeveless-blouse:before { content: "\f141"; }
.flaticon-sleeveless-drees:before { content: "\f142"; }
.flaticon-sleeveless-t-shirt:before { content: "\f143"; }
.flaticon-slip-slop:before { content: "\f144"; }
.flaticon-sock:before { content: "\f145"; }
.flaticon-socks:before { content: "\f146"; }
.flaticon-summer-dress:before { content: "\f147"; }
.flaticon-sweater:before { content: "\f148"; }
.flaticon-sweater-1:before { content: "\f149"; }
.flaticon-sweater-jumper:before { content: "\f14a"; } 
.flaticon-t-shirt:before { content: "\f14b"; }
.flaticon-tie:before { content: "\f14c"; }
.flaticon-ties:before { content: "\f14d"; }
.flaticon-tracksuit:before { content: "\f14e"; }
.flaticon-tracksuit-1:before { content: "\f14f"; }
.flaticon-tradicional-hat:before { content: "\f150"; }
.flaticon-trousers:before { content: "\f151"; }
.flaticon-trousers-1:before { content: "\f152"; }
.flaticon-trousers-2:before { content: "\f153"; }
.flaticon-trousers-3:before { content: "\f154"; }
.flaticon-underpants:before { content: "\f155"; }
.flaticon-waistcoat:before { content: "\f156"; }
.flaticon-waistcoat-1:before { content: "\f157"; } 
.flaticon-wallet:before { content: "\f158"; }
.flaticon-winter-cap:before { content: "\f159"; }
.flaticon-woman-bathing-suit:before { content: "\f15a"; }
.flaticon-woman-bikini:before { content: "\f15b"; }
.flaticon-woman-swimsuit:before { content: "\f15c"; }
.flaticon-women-coat:before { content: "\f15d"; }
.flaticon-women-long-coat:before { content: "\f15e"; }
.flaticon-women-robe:before { content: "\f15f"; }
.flaticon-women-suit:before { content: "\f160"; }
.flaticon-women-tracksuit:before { content: "\f161"; }
.flaticon-women-tracksuit-1:before { content: "\f162"; }
.flaticon-woolen-socks:before { content: "\f163"; }
