/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 107px;
    overflow: hidden;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 107px;
  background-color: #fcfcfc;
border-top:1px solid #E8E7EC;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
    
}

code {
  font-size: 80%;
}

::-webkit-scrollbar { 
    display: none !important; 
}
::-moz-scrollbar { 
    display: none !important; 
}
::-o-scrollbar { 
    display: none !important; 
}


::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none !important;
    background: #ff0000 !important;
    color: #ff0000 !important;
}