.footer{
    height:56px;
    padding:0px;
}
body{
    margin-bottom: 60px;
    padding:0px;
    margin:0px;
    overflow-y: scroll;
    height:100%;
    
  background-color: #fff;
}

body > div.container{
    padding:0px;
    margin:0px;
    width:100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}


#theForm{
    width:100%;
    padding-bottom:70px;
    text-align: center;
    z-index:-1;
}

.row.theForm .col-xs-12{
    padding:0px;
    width:100%;
    margin:0px;
}
.row.theForm{
    padding:0px;
    width:100%;
    margin:0px;
    z-index:-1;
}
#cameraHolder{
    width:100%;
    margin:0px;
    text-align:center;
    line-height: 200px;
    font-size:40px;
    position:absolute;
    top:30%;
}
#cameraHolder span{
    vertical-align: middle;
}

body .container > #theForm .theForm input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
    border-radius: 0px;
}
body .container > #theForm .theForm input[type="text"]:focus {
  outline: none;
}

/* ============================================================
  STYLE 4
============================================================ */
body .container > #theForm .theForm .style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 0px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
body .container > #theForm .theForm .style-4 input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 0px #969696;
}

body .container > #theForm .theForm .form-group{
    margin: 0;
    margin-top:15px;
}


label{
    font-size:18px;
    font-weight: bold;
}

.row.theForm .form-group > label{
    width:100%;
    background: #fff;
    margin-left:0px;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    
}


















.btn-group,
.btn-group-vertical {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 2;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-toolbar .input-group {
  width: auto;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn + .dropdown-toggle-split::after {
  margin-left: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 1.125rem;
  padding-left: 1.125rem;
}

.btn-group-vertical {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group-vertical .btn,
.btn-group-vertical .btn-group {
  width: 100%;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}




.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
  border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn > .btn {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.input-group-btn > .btn + .btn {
  margin-left: -1px;
}

.input-group-btn > .btn:focus, .input-group-btn > .btn:active, .input-group-btn > .btn:hover {
  z-index: 3;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
  margin-right: -1px;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.input-group-btn:not(:first-child) > .btn:focus, .input-group-btn:not(:first-child) > .btn:active, .input-group-btn:not(:first-child) > .btn:hover,
.input-group-btn:not(:first-child) > .btn-group:focus,
.input-group-btn:not(:first-child) > .btn-group:active,
.input-group-btn:not(:first-child) > .btn-group:hover {
  z-index: 3;
}

.row.theForm .gender label.bigSelect{
    background:transparent;
    color:#121212;
    border-width: 2px 2px 2px 2px;
    padding: 20px;
    border-radius:15px;
    border-color: #127ba3;
    box-shadow: 0 0 0;
}
.row.theForm .gender label.bigSelect:hover{
    margin-top:0px;
}


.row.theForm .gender label.bigSelect.active{
    background:#333;
    color:#fff;
}
.row.theForm .gender label.bigSelect:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.row.theForm .type label.bigSelect, .row.theForm .tags label.bigSelect{
    background:transparent;
    color:#121212;
    border-width: 2px 2px 2px 2px;
    padding: 10px 20px;
    border-radius:15px !important;
    border-color: #127ba3;
    box-shadow: 0 0 0;
    display: inline-block;
    position:relative !important;
    width:auto;
    margin: 5px;
}

.row.theForm .type label.bigSelect:after, .row.theForm .tags label.bigSelect:after{
    
}


.row.theForm .type label.bigSelect > input, .row.theForm .tags label.bigSelect > input{
 display: none;
}
.row.theForm .type label.bigSelect:hover, .row.theForm .tags label.bigSelect:hover{
    
}


.row.theForm .type label.bigSelect.active, .row.theForm .tags label.bigSelect.active{
    background:#333;
    color:#fff;
}
#cameraIcons {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background:rgba(0, 0, 0, 0.2);
    height:200px;
    margin:0px;
    text-align:center;
    line-height: 200px;
    font-size:40px;
    vertical-align: middle;
}

#cameraRow {
    position: relative;
    overflow: visible;
    height:200px;
}

.over {
    z-index: 99999999 !important;
}


.colorSpace {
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.colorDot {
    width:30px;
    height:30px;
    margin-left: 20px auto;
    border-radius: 100%;
    background-color:firebrick;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.colorDot.active{
    width:45px;
    height:45px;
}
.modal {
    bottom:0 !important;
}

.modal-dialog{
    width:100%;
    margin-bottom: 0px;
    margin-left: 0px;
}

.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}
#loader {
    z-index:99999999999999;
}



#colorizer .dot {
    position:absolute;
    width:40px;
    height:40px;
    background:#333;
    border-radius:100%;
    
}
#colorizer .main {
    height:60px;
    width:60px;
    left:50px;
}
#colorizer .first, #colorizer .fourth {
    top:10px;
}

#colorizer .second, #colorizer .third{
    top:60px
}

#colorizer .fourth{
    left:120px;
}

#colorizer .second{
    left: 28.3px;
}

#colorizer .third{
    left: 91.6px;
}


#colorizer.dotsContainer{
    position:relative;
    width:160px;
    overflow:hidden;
    height:100px;
    margin:0px auto;
}